In [25]:
class Employee:
    def __init__(self,name, number, address, salary, post, year_of_joining, education, year_of_experience):
        self.name = name
        self.number = number
        self.address = address
        self.salary = salary
        self.post = post
        self.year_of_joining = year_of_joining
        self.education = education
        self.year_of_experience = year_of_experience

    def describe_employee(self):
        print("==============Employee Details==================")
        print(f"Name: {self.name}\nAddress: {self.address}\nPhone Number: {self.number}\nEducation: {self.education}\nPost: {self.post}\nSalary: {self.salary}\nJoining Year: {self.year_of_joining}\nYear of Experience: {self.year_of_experience}")
        
    def update_year_of_experience(self, updated_experience):
        self.year_of_experience = updated_experience
        print(f"{self.name}'s experience after updation is {self.year_of_experience}")
        
    def increase_salary(self):
        input_inc_sal = int(input("Enter increment in Salary"))
        inc_sal = self.salary + input_inc_sal
        return inc_sal

employee101 = Employee("Ahad","+92-0567866465","Malir, Karachi", 50000, "BA", 2018, "Graduated", "2 yrs")

In [26]:
employee101.name

'Ahad'

In [27]:
employee101.address

'Malir, Karachi'

In [28]:
employee101.post

'BA'

In [29]:
employee101.salary

50000

In [30]:
employee101.describe_employee()

==============Employee Details==================
Name: Ahad
Address: Malir, Karachi
Phone Number: +92-0567866465
Education: Graduated
Post: BA
Salary: 50000
Joining Year: 2018
Year of Experience: 2 yrs

In [18]:
employee101.increase_salary()

Enter increment in Salary 2000

52000

In [20]:
employee101.update_year_of_experience("5 yrs")

Ahad's experience after updation is 5 yrs

### Creating 10 different instances

In [43]:
employees = [Employee("Emp"+str(i+1), f"{9265676756+i}", f"Add{i+1}", 25000+i*1000, "Post"+str(i+1), 2000+i, "Deg"+str(i+1), 1+i)
            for i in range(10)]

In [49]:
# Calling describe_employee() for each instance
for employee in employees:
    employee.describe_employee()

==============Employee Details==================
Name: Emp1
Address: Add1
Phone Number: 9265676756
Education: Deg1
Post: Post1
Salary: 25000
Joining Year: 2000
Year of Experience: 1
==============Employee Details==================
Name: Emp2
Address: Add2
Phone Number: 9265676757
Education: Deg2
Post: Post2
Salary: 26000
Joining Year: 2001
Year of Experience: 9
==============Employee Details==================
Name: Emp3
Address: Add3
Phone Number: 9265676758
Education: Deg3
Post: Post3
Salary: 27000
Joining Year: 2002
Year of Experience: 3
==============Employee Details==================
Name: Emp4
Address: Add4
Phone Number: 9265676759
Education: Deg4
Post: Post4
Salary: 28000
Joining Year: 2003
Year of Experience: 4
==============Employee Details==================
Name: Emp5
Address: Add5
Phone Number: 9265676760
Education: Deg5
Post: Post5
Salary: 29000
Joining Year: 2004
Year of Experience: 5
==============Employee Details==================
Name: Emp6
Address: Add6
Phone Number: 9265676761
Education: Deg6
Post: Post6
Salary: 30000
Joining Year: 2005
Year of Experience: 6
==============Employee Details==================
Name: Emp7
Address: Add7
Phone Number: 9265676762
Education: Deg7
Post: Post7
Salary: 31000
Joining Year: 2006
Year of Experience: 7
==============Employee Details==================
Name: Emp8
Address: Add8
Phone Number: 9265676763
Education: Deg8
Post: Post8
Salary: 32000
Joining Year: 2007
Year of Experience: 8
==============Employee Details==================
Name: Emp9
Address: Add9
Phone Number: 9265676764
Education: Deg9
Post: Post9
Salary: 33000
Joining Year: 2008
Year of Experience: 9
==============Employee Details==================
Name: Emp10
Address: Add10
Phone Number: 9265676765
Education: Deg10
Post: Post10
Salary: 34000
Joining Year: 2009
Year of Experience: 10

### Making updates with methods

In [47]:
employees[0].increase_salary()

Enter increment in Salary 1000

26000

In [48]:
employees[1].update_year_of_experience(9)

Emp2's experience after updation is 9

# Without Using Classes

In [63]:
def describe_employee(name, number, address, **detail):
    print(f"Name: {name}\nAddress: {address}\nPhone Number: {number}")
    print("\n===============Other Information=================")
    print(detail)

describe_employee("Waleed","+92-094678656","Hyderabad", education= "Graduation", post= "Manager", salary= 26000, joining_year= 2000, year_of_exp= 2)

Name: Waleed
Address: Hyderabad
Phone Number: +92-094678656

===============Other Information=================
{'education': 'Graduation', 'post': 'Manager', 'salary': 26000, 'joining_year': 2000, 'year_of_exp': 2}

In [74]:
# Creating a dictionary to store employee101 details
emp101 = {
    'name': 'Laiba',
    'number': '+92-4678368734',
    'address': '123 Street',
    'salary': 50000,
    'post': 'DA',
    'year_of_joining': 2015,
    'education': 'Masters in CS',
    'year_of_experience': 7
}

In [75]:
def update_year_of_experience(emp, new_experience):
    emp['year_of_experience'] = new_experience
    print(f"{emp['name']}'s experience updated to: {emp['year_of_experience']} yrs")

update_year_of_experience(emp101, 8)

Laiba's experience updated to: 8 yrs

In [76]:
def increase_salary(employee, increment):
    employee['salary'] += increment
    print(f"{employee['name']}'s salary increased by {increment}.\nNew Salary: {employee['salary']}")

increase_salary(emp101, 5000)

Laiba's salary increased by 5000.
New Salary: 55000

In [97]:
employees = [
    {
        'name': "Emp" + str(i+1),
        'number': f"{92456465376+i+1}",
        'address': f"Add{i+1}",
        'salary': 25000 + i*1000,
        'post': "Post" + str(i+1),
        'year_of_joining': 2010 + i,
        'education': "Deg" + str(i+1),
        'year_of_experience': 5 + i
    }
    for i in range(10)
]

def desc_emp(emp):
    print("==================Employee Details==============")
    print(f"Name: {emp['name']}\nAddress:{emp['address']}\nPhone Number: {emp['number']}\nEducation: {emp['education']}\nPost:{emp['post']}\nSalary: {emp['salary']}\nJoining Year: {emp['year_of_joining']}\nYear of Experience: {emp['year_of_experience']}")

# Call describe_employee() for each instance
for employee in employees:
    desc_emp(employee)

==================Employee Details==============
Name: Emp1
Address:Add1
Phone Number: 92456465377
Education: Deg1
Post:Post1
Salary: 25000
Joining Year: 2010
Year of Experience: 5
==================Employee Details==============
Name: Emp2
Address:Add2
Phone Number: 92456465378
Education: Deg2
Post:Post2
Salary: 26000
Joining Year: 2011
Year of Experience: 6
==================Employee Details==============
Name: Emp3
Address:Add3
Phone Number: 92456465379
Education: Deg3
Post:Post3
Salary: 27000
Joining Year: 2012
Year of Experience: 7
==================Employee Details==============
Name: Emp4
Address:Add4
Phone Number: 92456465380
Education: Deg4
Post:Post4
Salary: 28000
Joining Year: 2013
Year of Experience: 8
==================Employee Details==============
Name: Emp5
Address:Add5
Phone Number: 92456465381
Education: Deg5
Post:Post5
Salary: 29000
Joining Year: 2014
Year of Experience: 9
==================Employee Details==============
Name: Emp6
Address:Add6
Phone Number: 92456465382
Education: Deg6
Post:Post6
Salary: 30000
Joining Year: 2015
Year of Experience: 10
==================Employee Details==============
Name: Emp7
Address:Add7
Phone Number: 92456465383
Education: Deg7
Post:Post7
Salary: 31000
Joining Year: 2016
Year of Experience: 11
==================Employee Details==============
Name: Emp8
Address:Add8
Phone Number: 92456465384
Education: Deg8
Post:Post8
Salary: 32000
Joining Year: 2017
Year of Experience: 12
==================Employee Details==============
Name: Emp9
Address:Add9
Phone Number: 92456465385
Education: Deg9
Post:Post9
Salary: 33000
Joining Year: 2018
Year of Experience: 13
==================Employee Details==============
Name: Emp10
Address:Add10
Phone Number: 92456465386
Education: Deg10
Post:Post10
Salary: 34000
Joining Year: 2019
Year of Experience: 14

In [94]:
increase_salary(employees[0], 2000)

Emp1's salary increased by 2000.
New Salary: 44000

In [95]:
update_year_of_experience(employees[1], 9)

Emp2's experience updated to: 9 yrs